*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#ffffff;
}

::selection {
  background: #F57C00; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #F57C00; /* Gecko Browsers */
  color:#fff;
}

textarea{
    color:#fdfdfd;
}

a{
    text-decoration:none;
    color:#F57C00;
}
a:hover{
    text-decoration:none;
    color:#E65100;
}
.principal{
    width:300px;
    height:200px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#wrap{
    width:550px;
    height:500px;
    position: absolute;
    top:-150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#wraptrans{
    width:500px;
    height:300px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-signin{
    float:left;
}


p#descricao{
    position:relative;
    left:-10px;
    top:132px;
    color:#adadad;
}
p#titulo{
    color:#F57C00;
    font-weight:bold;
    font-size:75px;
    float:left;

    background-color: #F57C00;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

p#instruct{
    position:relative;
    color:#adadad;
    font-weight:bold;
    font-size:20px;
    float:left;
    top:-100px;
}
p#instruct2{
    position:relative;
    color:#adadad;
    font-size:15px;
    float:left;
    top:-140px;
}
#demo1{
    float:left;
    position:relative;
    top:-135px;
}
#demo{
    clear:both;
    position:relative;
    top:-145px;
}

form{
    position:relative;
    top:-125px;
}
textarea{
    height:150px;
}



.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    height:300px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #F57C00;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 300px;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #F57C00;
    padding: 3%;
    border: 1px solid #F57C00;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"],
.form-style-6 button[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #F57C00;
    border-bottom: 2px solid #E65100;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover,
.form-style-6 button[type="button"]:hover{
    background: #E65100;
}
