<html>

<head>
	     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
     <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
 
     <title>Tradutor</title>
 
     <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
 
     <!-- Custom styles for this template -->
     <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}">
     <link href="../static/stylesheet/styles.css" rel="stylesheet">
     
 
     <script src="https://code.jquery.com/jquery-1.9.0.js"></script>
	
</head>
<body>
<div id="wrap">
	<div class="principal">
		<p id="titulo">Fenrir</p>
		<p id="descricao">Tradutor®</p>
	</div>
	<div class="principal sub form-style-6">
		<p id="instruct">Coloque seu texto :D</p>
		<p id="instruct2">e traduziremos para você</p>
		<form class="form-signin" action="/translate" method="post" role="form">
			<select name="source" id="source" class="selbox">
				<option value="identfy">Identificar</option>
				<option value="pt">Português</option>
				<option value="en">Inglês</option>
				<option value="es">Espanhol</option>
			</select>
			<select name="target" id="target" class="selbox">
				<option value="pt">Português</option>
				<option value="en">Inglês</option>
				<option value="es">Espanhol</option>
			</select>
			<textarea name="texto" type="text" id="mySelect" onkeyup="myFunction()"></textarea>
			<button type="button">Traduzir </button>
		</form>
	<p id="demo1"></p>
	<p id="demo"></p>
	</div>
</div>
<script>
function myFunction() {

    var x = document.getElementById("mySelect").value;
    document.getElementById("demo1").innerHTML = "Para traduzir: " + x;
	
};

$(document).ready(function() {
    $("#source").change(function() {
        // Get the selected value
        var selected = $("option:selected", $(this)).val();
        // Get the ID of this element
        var thisID = $(this).prop("id");
        // Reset so all values are showing:
        $("#target option").each(function() {
            $(this).prop("disabled", false);
        });
        $(".selbox").each(function() {
            if ($(this).prop("id") != thisID) {
                if (selected === 'es') {
                	$("option[value='" + 'pt' + "']", $(this)).prop("disabled", true);
                	$("option[value='" + selected + "']", $(this)).prop("disabled", true);
                	$("option[value='" + 'en' + "']", $(this)).prop("selected", true);
           		}
            	else if (selected === 'pt') {
                	$("option[value='" + 'es' + "']", $(this)).prop("disabled", true);
                	$("option[value='" + selected + "']", $(this)).prop("disabled", true);
                	$("option[value='" + 'en' + "']", $(this)).prop("selected", true);
            	}
            	else if (selected === 'en') {
                	$("option[value='" + 'pt' + "']", $(this)).prop("disabled", false);
                	$("option[value='" + 'es' + "']", $(this)).prop("disabled", false);
                	$("option[value='" + selected + "']", $(this)).prop("disabled", true);
                	$("option[value='" + 'pt' + "']", $(this)).prop("selected", true);
            	}
            	else if (selected === 'identify') {
                	$("option[value='" + 'pt' + "']", $(this)).prop("disabled", false);
                	$("option[value='" + 'es' + "']", $(this)).prop("disabled", false);
                	$("option[value='" + 'en' + "']", $(this)).prop("disabled", false);
            	}
            }                        
        });
    });
});

$(function(){
		$('button').click(function(){
			var texto = $('#mySelect').val();

			var a = document.getElementById("source");
				var source = a.options[a.selectedIndex].value;

			var e = document.getElementById("target");
				var target = e.options[e.selectedIndex].value;
			
			$.ajax({
				url: '/translate',
				data: $('form').serialize(),
				type: 'POST',
				success: function(response){
					
					response = response.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '');
					document.getElementById("demo").innerHTML = "Traduzido: " + response;
					console.log(response)

				},
				error: function(error){
					console.log(error)
				}
			})
		})
	});
</script>
</body>
</html>

